.row-fluid div:nth-child(2) {margin-top: 300px;}
#myBody {background: -webkit-linear-gradient(
	left, black 0%, darkblue 50%, darkblue 50%, black 100%);}
#myBody {background: -moz-linear-gradient(
	left, black 0%, darkblue 50%, darkblue 50%, black 100%);}
#myBody {text-align: center; padding: 10%;}
#namePerson {position: relative; display: none;}
#calendarAnnounce, #snakeAnnounce, #paragraphBooks
	{font-size: 30px; line-height: 25px; color: white; display: none;}
#iconSnake, #snakeAnnounce, #iconCalendar, #calendarAnnounce, #divBooks, #divSnake, #divCalendar
	{width: 300px;}
#sectionSnake, #sectionCalendar {display: block;}
#sectionCalendar, #sectionSnake, #sectionBooks {display: inline-block; vertical-align: top;}
#paragraphBooks {width: 300px;}
.ui-autocomplete {text-align: left;}
.animateIcon {cursor: pointer}