
/* Описание документа*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%; 
	min-height: 100%;
}

body {
	width: 100%;
	height: 100%;
}



.primary-section {
	width: 1200px;
	min-height: 800px;
	margin: 0 auto;
	background: rgba(255,255,255,.7);
}


.primary-section > header, .primary-section > footer {
	width: 100%;
}

.slave-section > header, .slave-section > footer {
	width: 100%;
	height: 50px;
	padding: 10px;
}


.navigation-side {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: visible;
	padding: 10px;
	
}

.navigation-frame {
	border: 0px solid black;
	width: 100%;
	height: 800px;
	margin: 10px 0;
}

.navigation-frame[name=iframe-02] {
	border: 0px solid black;
	width: 100%;
	height: 796px;
	border-radius: 10px;
}

.slave-section {

	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.child-section {
	width: 100%;
	min-height: 598px;
	padding: 10px;
}

.navigation-bar {
	text-align: center;
	background: silver;
	border-radius: 10px;
	line-height: 40px; 
}

.section-bar {
	background: rgba(0,0,0,.1);
}


.head-header {
	text-align: center;
	font-family: verdana;
	padding: 10px;
	margin: 0;
	background: rgba(0,0,0,.2);
	border-radius: 10px;
}

.btn {
	width: 200px;
}

.btn.btn-default {
	width: 60px;
	height: 40px;
	padding: 3px 0;
}

.btn.btn-default > img {
	height: 20px;
	width: 20px;
}

.little {
	font-size: 10px;
	display: block;
}
.navigation-side-h {
	width: 900px;
	display: block;
	height: 200px;
}

.btn-toolbar {
	width: 600px;
}

.btn.btn-primary[download],
#help911,
#help921 {
	height: 40px;
	width: 140px;
}

.btn.btn-primary[download] > span,
#help911 > span,
#help921 > span {
	display: inline;
	font-size: 20px;
}