AuthType Basic
AuthName "Message for access"
AuthUserFile C:/data/xampp/htdocs/blog/.htpasswd
Require valid-user



# Такую строчку надо выполнить для создания файла ключей
# (.*)/apache/bin htpasswd.exe -c .htpasswd username