body, html, .CalendarSection {width: 100%; height: 100%; padding: 0; margin: 0;}
.CalendarSection {background: rgba(0,0,255, .2); position: fixed;}
.TheCalendar {width: 1000px; border-spacing: 0; border-collapse: collapse; height: 60%;}
.TheCalendar td {text-align: center; width: 14%;}
.EnvCont {margin: 0 0 0 20%; height: 100%;}
.TheCalendar td {font: 40px Verdana;}
.TheCalendar td:hover {background: white; cursor: default; border-left: 5px solid black;}
.TheCalendar a {display: inline-block; width: 100%; height: 100%; text-decoration: none;}
.TheCalendar a {padding: 25px 0 0 0; color: black;}
.TheCalendar b {font-size: 50px; color: darkblue;}
.TheCalendar tr:nth-child(2) td:nth-child(2) {font-size: 50px; color: darkblue;}
.NowTime {font: 100px Verdana; color: darkblue; width: 300px;}
.NowTime:hover {color: black; background: white; border-left: 5px solid black; cursor: default;}